.cache/
.vscode/
# .trae/
.vite/
.codex/
.understand-anything/
graphify-out/
__pycache__
*.lnk
build/
docs/
dist/
output/
project/build_*/
rockchip/
prebuilt/
script/verify_tool_app/ui_gen/

compile_commands.json
